<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hyperstate -->
      <package
            uri="be.kuleuven.model.hyperstate"
            class="be.kuleuven.model.hyperstate.HyperstatePackage"
            genModel="model/hyperstate.xcore"/>
   </extension>

</plugin>
